.individualMessage__container {
    display: flex;
    margin: 15px 20px 20px 20px; 
    width: 50px;
    height: 50px;
}
.individualMessage__image{
    border-radius: 20px;
    width: 50px;
    height: 50px;
}
.individualMessage__data {
    padding-left: 10px;
    
}
.individualMessage__name {
    font-size: 16px;
    margin: 0;
}
.individualMessage_message {
    font-size: 16px;
    margin: 0;
}

@media all and (min-width: 1024px){
    .individualMessage__container {
        display: flex;
        margin: 30px 40px 45px 40px; 
        width: 50px;
        height: 50px;
    }  
    .individualMessage__data {
        padding-left: 20px;   
    }  
}