.individualMessage__container {
    display: flex;
    margin: 15px 20px 20px 20px;
    width: 50px;
    height: 50px;
    font-family: 'Heebo', sans-serif;
}
.individualMessage__image{
    border-radius: 10px;
    width: 60px;
    height: 60px;
    display: block;
}
.individualMessage__data {
    padding-left: 10px;
}
.individualMessage__name {
    font-size: 14px;
    // margin: 5px 0;
    margin: 0;
}
.individualMessage__message {
    font-size: 14px;
    margin: 0;
    width: 220px;
}
.individualMessage__date {
  font-size: 10px;
}

@media all and (min-width: 768px) {
  .individualMessage__message {
    width: 620px;
  }
}

@media all and (min-width: 1024px){
    .individualMessage__container {
        display: flex;
        margin: 20px 40px;
        width: 100px;
        height: 100px;
    }
    .individualMessage__image{
        width: 80px;
        height: 80px;
    }
    .individualMessage__data {
        padding-left: 20px;
    }
    .individualMessage__name {
        font-size: 19px;
    }
    .individualMessage__message {
        font-size: 19px;
    }
    .individualMessage__date {
      font-size: 13px;
    }

}
