.button__styles {
    cursor: pointer;
    background-color: rgb(0, 120, 218);
    border-radius: 25px;
    width: 38vw;
    height: 8vh;
    margin-top: 25px;
    color: white;
    font-size: 16px;
}
