.sendmessage__container {
  width: 100%;
  font-family: 'Heebo', sans-serif;
}

.sendmessage__input {
  border: none;
  border-bottom: 1px solid gray;
  width: 90%;
  outline: none;
  font-size: 14px;
  padding-top: 15px;
  margin-bottom: 10px;
}

.sendmessage__button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.paperplane__styles {
  color: #5271ff;
  font-size: 20px;
  margin-left: 10px;
  width: 10%;
}

@media all and (min-width: 768px) {
  .sendmessage__input {
    font-size: 16px;
    padding-top: 20px;
  }

  .paperplane__styles {
    font-size: 30px;
  }
}

@media all and (min-width: 1024px) {
  .paperplane__styles {
    font-size: 35px;
  }
  .sendmessage__input{
    width: 92%;
  }
}
