.loading {
	position:absolute;
	left:50%;
	top:30vh;
	margin-left:-20vh;
	display:block;
	width:40vh;
	height:40vh;
	text-align:center;
	filter:contrast(1.2);

	span {
  	mix-blend-mode:screen;
		display:block;
		position:absolute;
		border-radius:50%;
		animation:wave 3s infinite linear;
	}

	span:nth-child(0) {
		left:-11%;
		right:-2%;
		top:-12%;
		bottom:-5%;
		transform-origin:46% 53%;
		animation-delay:0;
		background-color:#5271ff;
	}

	span:nth-child(1) {
		left:-4%;
		right:-4%;
		top:-9%;
		bottom:-2%;
		transform-origin:47% 50%;
		animation-delay:-1s;
		background-color:#5370f1;
	}

	span:nth-child(2) {
		left:-11%;
		right:-4%;
		top:-10%;
		bottom:-11%;
		transform-origin:49% 53%;
		animation-delay:-1.5s;
		background-color:#3649a1;
	}

	span:nth-child(3) {
		left:-7%;
		right:-9%;
		top:-11%;
		bottom:-4%;
		transform-origin:47% 52%;
		animation-delay:-2s;
		background-color:#5271ff;
	}

	span:nth-child(4) {
		left:-8%;
		right:-3%;
		top:-5%;
		bottom:-11%;
		transform-origin:47% 52%;
		animation-delay:-2.5s;
		background-color:#455499;
	}

	span:nth-child(5) {
		left:-10%;
		right:-8%;
		top:-4%;
		bottom:-9%;
		transform-origin:48% 51%;
		animation-delay:-3s;
		background-color:#94a6f8;
	}

	span:nth-child(6) {
		left:-9%;
		right:-11%;
		top:-5%;
		bottom:-8%;
		transform-origin:47% 50%;
		animation-delay:-3.5s;
		background-color:#5767ac;
	}
}

@keyframes wave {
	from {
		transform:rotateZ(0deg);
	}
	to {
		transform:rotateZ(360deg);
	}
}
